<div class="area questionarea"
     data-id="{{ id }}" data-type="{{ type }}"
     style="left: 0; top: 0; background: {{ background }}; color: {{text_color}}; width: 100%; height: 100%; font-size: {{text_size}}px; z-index: {{zindex}}">
    <div class="inner bg va-wrap">
        <div class="question" style="color: {{ text_color }}">{{{ question }}}</div>
        <div class="answers">
            {{#each answers}}
                <div class="answer">{{ this.text }}</div>
            {{/each}}
        </div>
    </div>
</div>