<div class="area textarea"
     data-id="{{ id }}" data-type="{{ type }}"
     style="left: {{ x }}px; top: {{ y }}px; background: {{ background }}; color: {{text_color}}; font-size: {{text_size}}px; height: {{ height }}px; width: {{ width }}px; z-index: {{zindex}}">
    <div class="inner bg va-wrap">
        <div class="text va-middle">{{{ @root.text }}}</div>
    </div>
</div>