<div class="prp-area jumparea"
     data-id="{{ id }}" data-type="{{ type }}"
     style="left: {{ x }}px; top: {{ y }}px; background: {{ background }}; color: {{text_color}}; font-size: {{text_size}}px; height: {{ height }}px; width: {{ width }}px; z-index: {{zindex}}">
    <a class="inner bg va-wrap" href="#" target="_blank">
        <span class="text va-middle">{{{ @root.text }}}</span>
    </a>
</div>