<div class="prp-area questionarea"
     data-id="{{ id }}" data-type="{{ type }}"
     style="left: 0; top: 0; background: {{ background }}; color: {{text_color}}; width: 100%; height: 100%; font-size: {{text_size}}px; z-index: {{zindex}}">
    <div class="inner">
        <form>
            <div class="question">{{{ question }}}</div>
            <div class="answers">
                {{#each answers}}
                    <div class="answer">
                        <label for="inp_{{this.id}}">
                            <input type="radio" name="answer" value="{{this.id}}" id="inp_{{this.id}}">
                            <span>{{ this.text }}</span>
                        </label>
                    </div>
                {{/each}}
            </div>
            <div class="questionarea-bar">
                {{#ifCond question_type '==' 'facoltativa' }}
                    <span class="prp-action-btn prp-skip">Salta</span>
                {{/ifCond}}
                <button type="submit" class="prp-action-btn">Rispondi &rarr;</button>
            </div>
        </form>
        <div class="prp-question-console"></div>
    </div>
</div>